@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1f2e35;
  color: white;
}
body .header__shrink {
  box-shadow: 0px 0px 15px 0px white;
}

.dark-mode {
  background-color: white;
  color: #1f2e35;
}
.dark-mode .header__shrink {
  box-shadow: 0px 0px 15px 0px black;
}
.dark-mode .choose {
  background-color: rgb(245, 245, 245);
}

body button:hover {
  box-shadow: 5px 5px 5px 0px white;
}

.dark-mode button:hover {
  box-shadow: 5px 5px 5px 0px #1f2e35;
}

.container {
  width: 85%;
  margin: 20px auto;
  background-color: inherit;
}

a {
  color: inherit;
  position: relative;
}

a::after {
  transition: all 3s;
  position: relative;
  content: "";
  width: 0%;
}

a:hover::after {
  background-color: white;
  width: 100%;
  height: 3px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 5px 15px 10px inherit;
}

main {
  padding-top: 12vh;
}

.dark-mode header {
  background-color: rgba(2, 137, 122, 0.6);
}
.dark-mode header .navbar {
  background: transparent;
}
.dark-mode header .navbar .nav-item .nav-list .nav-btn-left {
  padding: 8px 22px;
  background: transparent;
  color: inherit;
  border: 1px solid;
  border-radius: 4px;
}
.dark-mode .choose .choose-cards .choose-card {
  border: 1.5px solid rgb(222, 222, 222);
  box-shadow: 0px 0px 5px 0px black;
}

header {
  color: inherit;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(83, 83, 83, 0.438);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
}
header .navbar .logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
}
header .navbar .nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: inherit;
}
header .navbar .nav-item .nav-list {
  font-size: 16px;
  font-weight: 600;
}
header .navbar .nav-item .nav-list .toggle-bar {
  display: none;
  box-shadow: none;
}
header .navbar .nav-btn-left {
  padding: 8px 22px;
  background: transparent;
  color: inherit;
  border: 1px solid white;
  border-radius: 4px;
}
header .navbar .nav-btn-right {
  padding: 8px 22px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
}
header .navbar .nav-btn-dark {
  background: transparent;
  border-radius: 50%;
}
header .navbar .nav-btn-dark:hover {
  box-shadow: 0px 0px 0px 0px;
}
header .navbar .toggle-bar {
  background: transparent;
  border-radius: 50%;
  font-size: 20px;
  color: white;
}
header .navbar .toggle-bar:hover {
  box-shadow: 0px 0px 0px 0px;
}
header .navbar .nav-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .navbar .nav-action .nav-sign {
  display: flex;
  gap: 20px;
}
header .navbar .nav-action .toggle-bar {
  display: none;
}

@media (max-width: 992px) {
  header .navbar .logo a {
    font-size: 25px;
  }
  header .navbar .nav-item {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 25%;
    height: 100vh;
    background-color: rgba(2, 137, 121, 0.452);
    font-size: 17px;
    padding-bottom: 10px;
    height: 100vh;
    gap: 30px;
    transition: all 1s;
  }
  header .navbar .nav-item .nav-list .toggle-bar {
    background: transparent;
    color: white;
    font-size: 20px;
    display: block;
  }
  header .navbar .nav-item.toggle {
    left: 0;
  }
  header .navbar .nav-action.auth .nav-sign {
    top: 40px;
    left: 25px;
  }
  header .navbar .nav-action .toggle-bar {
    display: block;
  }
}
@media (max-width: 600px) {
  header .navbar .nav-action .nav-sign {
    transition: 1s;
    position: fixed;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  header .navbar .nav-action.auth .nav-sign {
    top: 40px;
    left: 25px;
  }
  header .navbar .logo a {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  header .navbar .logo a {
    font-size: 25px;
  }
  header .navbar .nav-item.toggle {
    padding: 20px 40px;
    width: 150px;
  }
}
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 30px 0px;
}
.hero .hero-title {
  font-size: 40px;
  font-weight: 700;
}
.hero .hero-logos {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}
.hero .hero-logos img {
  width: 215px;
}

@media (min-width: 1201px) {
  .hero .hero-title {
    font-size: 50px;
    padding-top: 100px;
  }
  .hero .hero-logos {
    display: flex;
    gap: 20px;
  }
  .hero .hero-logos img {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .hero {
    padding: 0px 0px;
  }
  .hero .hero-title {
    font-size: 50px;
    padding-top: 100px;
  }
  .hero .hero-logos {
    display: flex;
    gap: 20px;
  }
  .hero .hero-logos img {
    width: 213px;
  }
}
@media (max-width: 992px) {
  .hero .hero-title {
    padding-top: 100px;
  }
  .hero .hero-logos img {
    width: 215px;
  }
}
@media (max-width: 786px) {
  .hero .hero-title {
    font-size: 45px;
  }
  .hero .hero-logos {
    display: flex;
    gap: 15px;
  }
  .hero .hero-logos img {
    width: 140px;
  }
}
@media (max-width: 576px) {
  .hero {
    padding: 0px 50px;
  }
  .hero .hero-title {
    font-size: 45px;
  }
  .hero .hero-logos {
    display: flex;
  }
  .hero .hero-logos img {
    width: 45%;
  }
}
.choose {
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 52, 61);
  gap: 30px;
  padding: 30px;
  text-align: center;
}
.choose .choose-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.choose .choose-cards .choose-card {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1.5px solid white;
  box-shadow: 0px 0px 5px 0px white;
  border-radius: 5px;
  padding: 30px 15px;
}
.choose .choose-cards .choose-card .chooser-card-title {
  font-size: 34px;
  font-weight: 700;
}
.choose .choose-cards .choose-card .choose-desc {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .choose .choose-title {
    font-size: 40px;
  }
  .choose .choose-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .choose .choose-cards .choose-card {
    width: 350px;
    height: 305px;
  }
}
@media (max-width: 1200px) {
  .choose .choose-title {
    font-size: 40px;
  }
  .choose .choose-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .choose .choose-cards .choose-card {
    width: 350px;
    height: 305px;
  }
}
@media (max-width: 992px) {
  .choose .choose-title {
    font-size: 40px;
  }
  .choose .choose-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .choose .choose-cards .choose-card {
    width: 350px;
    height: 305px;
  }
}
@media (max-width: 768px) {
  .choose .choose-title {
    font-size: 40px;
  }
  .choose .choose-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .choose .choose-cards .choose-card {
    width: 350px;
    height: 305px;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
}
.product .product-title {
  font-size: 34px;
  font-weight: 700;
}
.product .product-cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.product .product-cards .product-card {
  width: 100%;
  display: flex;
  gap: 20px;
}
.product .product-cards .product-left {
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: start;
  gap: 30px;
  flex-direction: column;
}
.product .product-cards .product-right {
  width: 50%;
}
.product .product-cards .product-right img {
  width: 100%;
}
.product .product-cards .product-card-title {
  font-size: 20px;
  font-weight: 500;
}
.product .product-cards .product-card-desc {
  font-size: 24px;
  font-weight: 600;
}
.product .product-cards .product-card-info {
  font-size: 16px;
  font-weight: 400;
}
.product .product-btn {
  background-color: rgb(2, 137, 122);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 22px;
}

@media (max-width: 992px) {
  .product .product-card {
    display: flex;
    flex-direction: column;
  }
  .product .product-card .product-left {
    width: 100%;
    order: 2;
    display: flex;
    gap: 10px;
  }
  .product .product-card .product-right {
    width: 100%;
    order: 1;
  }
}