@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1f2e35;
  color: white;
}
body .header__shrink {
  box-shadow: 0px 0px 15px 0px white;
}

.dark-mode {
  background-color: white;
  color: #1f2e35;
}
.dark-mode .header__shrink {
  box-shadow: 0px 0px 15px 0px black;
}

body button:hover {
  box-shadow: 5px 5px 5px 0px white;
}

.dark-mode button:hover {
  box-shadow: 5px 5px 5px 0px #1f2e35;
}

.container {
  width: 85%;
  margin: 20px auto;
  background-color: inherit;
}

a {
  color: inherit;
  position: relative;
}

a::after {
  transition: all 3s;
  position: relative;
  content: "";
  width: 0%;
}

a:hover::after {
  background-color: white;
  width: 100%;
  height: 3px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
}

button {
  border: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 5px 15px 10px inherit;
}

main {
  padding-top: 12vh;
}

.dark-mode header {
  background-color: rgba(2, 137, 122, 0.6);
}
.dark-mode header .navbar {
  background: transparent;
}
.dark-mode header .navbar .nav-item .nav-list .nav-btn-left {
  padding: 8px 22px;
  background: transparent;
  color: inherit;
  border: 1px solid;
  border-radius: 4px;
}

header {
  color: inherit;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: rgba(83, 83, 83, 0.438);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
}
header .navbar .logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
}
header .navbar .nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: inherit;
}
header .navbar .nav-item .nav-list {
  font-size: 16px;
  font-weight: 600;
}
header .navbar .nav-item .nav-list .nav-btn-left {
  padding: 8px 22px;
  background: transparent;
  color: inherit;
  border: 1px solid white;
  border-radius: 4px;
}
header .navbar .nav-item .nav-list .nav-btn-right {
  padding: 8px 22px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
}
header .navbar .nav-item .nav-list .nav-btn-dark {
  background: transparent;
  border-radius: 50%;
}
header .navbar .nav-item .nav-list .nav-btn-dark:hover {
  box-shadow: 0px 0px 0px 0px;
}

.hero {
  height: 85vh;
  display: flex;
  gap: 10px;
  color: inherit;
}
.hero .hero-left {
  width: 50%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
}
.hero .hero-left h2 {
  font-size: 40px;
}
.hero .hero-left p {
  font-size: 20px;
}
.hero .hero-left .hero-left-bottom {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero .hero-left .hero-left-bottom .hero-left-btn {
  padding: 8px 22px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
}
.hero .hero-left .hero-left-bottom a {
  color: rgb(2, 137, 122);
  font-size: 20px;
  color: inherit;
}
.hero .hero-right {
  width: 50%;
}
.hero .hero-right img {
  width: 100%;
  height: 100%;
}

.product {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: inherit;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.product .product-title {
  font-size: 30px;
  font-weight: 700;
}
.product .product-btn {
  padding: 8px 22px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
}
.product .product-box-all {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.product .product-box-all .product-box {
  width: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: inherit;
  gap: 20px;
  text-align: left;
  flex-direction: column;
}
.product .product-box-all .product-box img {
  padding: 15px;
  width: 55px;
  height: 55px;
  background-color: blueviolet;
  border-radius: 50%;
}

.manager .manager-all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.manager .manager-all .manager-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 30px;
  align-items: center;
  align-content: center;
}
.manager .manager-all .manager-box .manager-left {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: inherit;
}
.manager .manager-all .manager-box .manager-left p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.manager .manager-all .manager-box .manager-right {
  max-width: 600px;
  display: flex;
}
.manager .manager-all .manager-box .manager-right img {
  width: 100%;
  height: 100%;
}

.quiz {
  text-align: center;
  color: inherit;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.quiz p {
  width: 50%;
}
.quiz .quiz-all {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  justify-content: center;
}
.quiz .quiz-all .quiz-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.quiz .quiz-all .quiz-box div {
  display: flex;
  gap: 20px;
}
.quiz .quiz-all .quiz-box h4 {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}
.quiz .quiz-btn {
  padding: 8px 22px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .content-title {
  font-size: 34px;
  font-weight: 700;
  color: inherit;
}
.content .content-desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: inherit;
}
.content .content-all {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.content .content-all .content-box {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.content .content-all .content-box .content-img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content .content-all .content-box .content-box-desc {
  height: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
}

.pris {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.pris .pris-all {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.pris .pris-all .pris-box {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 350px;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: #1f2e35;
  gap: 10px;
}
.pris .pris-all .pris-box:hover {
  background-color: rgb(2, 137, 122);
  color: white;
}
.pris .pris-all .pris-box:hover .pris-pr {
  color: white;
}
.pris .pris-all .pris-box:hover .pris-box-btn {
  background-color: white;
  color: rgb(2, 137, 122);
}
.pris .pris-all .pris-box .pris-box-btn {
  background-color: rgb(2, 137, 122);
  color: white;
  width: 60%;
  border-radius: 4px;
  padding: 8px 15px;
}
.pris .pris-all .pris-box .pris-pr {
  display: flex;
  align-items: center;
  color: rgb(2, 137, 122);
}
.pris .pris-all .pris-box .pris-pr .pr-left {
  text-align: end;
  width: 50%;
  font-size: 55px;
}
.pris .pris-all .pris-box .pris-pr .pr-right {
  width: 50%;
  text-align: start;
}

.say {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.say .say-descb {
  padding: 0px 400px;
}
.say .say-all {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.say .say-all .say-box {
  width: 350px;
  height: 250px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 0px 20px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.491);
}
.say .say-all .say-box .say-bottom {
  display: flex;
  justify-content: left;
  gap: 10px;
}
.say .say-all .say-box .say-bottom .say-box-left {
  display: flex;
}
.say .say-all .say-box .say-bottom .say-box-left img {
  width: 100%;
  height: 100%;
}
.say .say-all .say-box .say-bottom .say-box-right {
  display: flex;
  flex-direction: column;
}

.join {
  display: flex;
  justify-content: center;
}
.join .join-all {
  padding: 20px;
  height: 60%;
  width: 80%;
  display: flex;
  gap: 10px;
  background-color: rgb(2, 137, 122);
  border-radius: 10px;
}
.join .join-all .join-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}
.join .join-all .join-left .join-title {
  font-size: 35px;
}
.join .join-all .join-left .join-desc {
  font-size: 35px;
}
.join .join-all .join-left .join-btn {
  width: 120px;
  height: 45px;
  border-radius: 10px;
}
.join .join-all .join-left .join-btn:hover {
  box-shadow: 5px 5px 5px 0px #1f2e35;
}
.join .join-all .join-right {
  display: flex;
  width: 50%;
}
.join .join-all .join-right img {
  width: 100%;
  height: 100%;
}

footer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-all {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
footer .footer-all .footer-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 25%;
}
footer .footer-all .footer-box input {
  width: 300px;
  height: 45px;
  padding: 0px 20px;
  outline: none;
}
footer .footer-all .footer-box input:hover {
  outline: none;
}
footer .footer-all .footer-box .footer-icon {
  display: flex;
  gap: 10px;
}
footer .footer-all .footer-box .footer-btn {
  width: 150px;
  height: 45px;
  background-color: rgb(2, 137, 122);
  color: white;
  border-radius: 4px;
}